<div>
    <!--<div ng-if="showTextarea">-->
    <!--<textarea rows="1" ng-model="statement.name"-->
              <!--ng-dblclick="openModal()"-->
              <!--style="width:100%;margin-top:10px;margin-bottom:9px;background-color:rgba(255,255,255,.0);border:0;resize:none;vertical-align:middle;">-->
                                 <!--</textarea>-->
    <!--</div>-->

        <input ng-dblclick="openModal()"
               ng-model="proposal.businessMain.handler1Name"
               class="form-control input-sm" readonly
               style="background-color:#fff;cursor: pointer;">


</div>