<div class="col-xs-12" style="padding: 0">
    <div class="col-xs-10 col-lg-offset-1">
        <div class="col-xs-2" style="border: 1px solid silver;padding: 0">
            <div class="background_blue text-center" style="font-size: 20px;line-height: 2;color: #fff;">
                项目导航栏
            </div>
            <div class="qualificationDynamics_menu"
                 ng-class="{font_color_black1:active=='建造师培训'}"
                 ng-click="switchView('建造师培训','1')">
                建造师培训
            </div>
            <div class="qualificationDynamics_menu"
                 ng-class="{font_color_black1:active=='工程师培训'}"
                 ng-click="switchView('工程师评审','2')">
                工程师评审
            </div>
            <div class="qualificationDynamics_menu"
                 ng-class="{font_color_black1:active=='岗位证报名'}"
                 ng-click="switchView('岗位证报名','3')">
                岗位证报名
            </div>
            <div class="qualificationDynamics_menu"
                 ng-class="{font_color_black1:active=='技工证办理'}"
                 style="margin-bottom: 10%"
                 ng-click="switchView('技工证办理','4')">
                技工证办理
            </div>
        </div>
        <!--内容区域-->
        <div class="col-xs-10">
            <div ng-if="active=='证书培训'" ng-include="'certificateTraining/certificateTrainingPX.html'"></div>
            <div ng-if="active=='建造师培训'" ng-include="'certificateTraining/certificateTrainingJZ.html'"></div>
            <div ng-if="active=='工程师评审'" ng-include="'certificateTraining/certificateTrainingGC.html'"></div>
            <div ng-if="active=='岗位证报名'" ng-include="'certificateTraining/certificateTrainingGW.html'"></div>
            <div ng-if="active=='技工证办理'" ng-include="'certificateTraining/certificateTrainingJG.html'"></div>
        </div>
    </div>
</div>