<div class="col-xs-12" style="padding: 0;min-height: 300px">
    <div class="col-xs-10 padding_0 col-lg-offset-1">
        <div class="col-xs-12">
            <div style="height:28px; line-height:28px; border-bottom:5px solid #007AAC; margin-bottom:20px">
                <ul>
                    <li style="text-align:center; color:#FFFFFF; font-weight:bold; width:93px; float:left;line-height:28px; background:#007AAC; font-size:14px">
                        您的位置：
                    </li>
                    <li style="width:800px;line-height:28px; float:left; padding-left:20px; font-size:14px">首页</li>
                </ul>
            </div>
            <div style="border:1px solid #dedede; margin-bottom:15px; overflow:hidden">
                <ul class="row test"
                    style="width:100%; line-height:30px; padding-top:10px; padding-bottom:10px; overflow:hidden; font-size:14px;border-bottom:1px dotted #dedede;">
                    <div class="col-xs-1">
                        <p style="float:left; width:90px; padding-left:10px;font-weight: bold;color: #008EC8">所有分类</p>
                    </div>
                    <div class="col-xs-11">
                        <li class="queryCenter_a"
                            ng-repeat="item in classificationLists"
                            ng-click="getZY(item.idClassification,item.className)"
                            ng-init="a()">
                            {{item.className}}
                        </li>
                    </div>
                </ul>
                <ul class="row test"
                    ng-if="zYList.length"
                    style="width:100%; line-height:30px; padding-top:10px; padding-bottom:10px; overflow:hidden; font-size:14px;border-bottom:1px dotted #dedede;">
                    <div class="col-xs-1">
                        <p style="float:left; width:90px; padding-left:10px;font-weight: bold;color: #008EC8">所有小类</p>
                    </div>
                    <div class="col-xs-11">
                        <li class="queryCenter_a"
                            ng-click="getZY1(item.className)"
                            ng-repeat="item in zYList"
                            ng-init="a()">
                            {{item.className}}
                        </li>
                    </div>
                </ul>
                <ul class="row test"
                    style="width:100%; line-height:30px; padding-top:10px; padding-bottom:10px; overflow:hidden; font-size:14px;border-bottom:1px dotted #dedede;">
                    <div class="col-xs-1">
                        <p style="float:left; width:90px; padding-left:10px;font-weight: bold;color: #008EC8">所有地区</p>
                    </div>
                    <div class="col-xs-11">
                        <li class="queryCenter_a"
                            ng-repeat="item in regionalLists"
                            ng-click="getQuYu(item.idArea,item.areaName)"
                            ng-init="a()">
                            {{item.areaName}}
                        </li>
                    </div>
                </ul>
                <ul class="row test"
                    ng-if="quYuList.length"
                    style="width:100%; line-height:30px; padding-top:10px; padding-bottom:10px; overflow:hidden; font-size:14px;border-bottom:1px dotted #dedede;">
                    <div class="col-xs-1">
                        <p style="float:left; width:90px; padding-left:10px;font-weight: bold;color: #008EC8">二级地区</p>
                    </div>
                    <div class="col-xs-11">
                        <li class="queryCenter_a"
                            ng-click="getQuYu1(item.areaName)"
                            ng-repeat="item in quYuList"
                            ng-init="a()">
                            {{item.areaName}}
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="col-xs-12" style="margin-bottom: 2%">
            <div style="border-bottom:5px solid #007AAC;min-height: 32px">
                <ul>
                    <li class="release font_color_black1">最新资讯</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12">
            <div style="width:100%;">
                <div style="width:1000px; overflow:hidden;margin-bottom:15px; font-size:14px">
                    <div style="width:998px; margin-bottom:20px; border:1px solid #dedede; overflow:hidden; background:#efefef">
                        <ul>
                            <li style="width:359px; line-height:35px; float:left; font-weight:bold; padding-left:10px; border-right:1px solid #dedede;">
                                信息标题
                            </li>
                            <li style="width:159px; line-height:35px; float:left; font-weight:bold; border-right:1px solid #dedede; padding-left:10px;">
                                发布者
                            </li>
                            <li style="width:139px; line-height:35px; float:left; font-weight:bold; border-right:1px solid #dedede; padding-left:10px;">
                                地区
                            </li>
                            <li style="width:89px; line-height:35px; float:left; font-weight:bold; border-right:1px solid #dedede; padding-left:10px;">
                                注册情况
                            </li>
                            <li style="width:69px; line-height:35px; float:left; font-weight:bold; border-right:1px solid #dedede; padding-left:10px;">
                                薪资
                            </li>
                            <li style="width:118px; line-height:35px; float:left; font-weight:bold; padding-left:10px;">
                                更新时间
                            </li>
                        </ul>
                    </div>
                    <div style="width:1000px; overflow:hidden">
                        <ul style="line-height:30px" ng-repeat="informationList in informationLists">
                            <li style="width:365px; float:left; font-size:14px; padding-left:5px">
                                <a target="_blank" title="{{informationList.title}}">
                                    {{informationList.title}}
                                </a>
                            </li>
                            <li style="width:160px; float:left; padding-left:10px" title="{{informationList.name}}">
                                {{informationList.name}}
                            </li>
                            <li style="width:140px; float:left; padding-left:10px">{{informationList.areaName}}</li>
                            <li style="width:90px; float:left; padding-left:10px">{{informationList.registrationType}}
                            </li>
                            <li style="width:70px; float:left; padding-left:10px">{{informationList.salary}}</li>
                            <li style="width:120px; float:left; padding-left:10px; font-size:12px">
                                {{informationList.time|date:'yyyy-MM-dd'}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
