<div class="col-xs-12" style="background-color: #494443;margin-top: 10%;padding-bottom: 5%">
    <!--导航栏-->
    <div class="text-center" style="margin: 2%">
        <span class="color-gray1">关于我们</span>
        <span class="color-gray1"
              style="border-right: 1px solid white; width:2px;height: 30px;margin-left: 1%"></span>
        <span class="color-gray1" style="padding-left: 1%">代办资质服务</span>
        <span class="color-gray1"
              style="border-right: 1px solid white; width:2px;height: 30px;margin-left: 1%"></span>
        <span class="color-gray1" style="padding-left: 1%">猎头服务</span>
        <span class="color-gray1"
              style="border-right: 1px solid white; width:2px;height: 30px;margin-left: 1%"></span>
        <span class="color-gray1" style="padding-left: 1%">证书培训</span>
        <span class="color-gray1"
              style="border-right: 1px solid white; width:2px;height: 30px;margin-left: 1%"></span>
        <span class="color-gray1" style="padding-left: 1%">联系我们</span>
    </div>
    <!--展示信息-->
    <div class="col-xs-3 text-right" >
        <img src="assets/img/er.png"  style="width: 24%">
    </div>
    <div class="col-xs-9">
        <div class="color-gray1" style="font-size: 8px;">
            北京华洪顺达服务热线：010 59467717 手机：18901189277（24小时在线服务，不分节假日） 版权所有北京华洪顺达咨询有限公司
        </div>
        <div class="color-gray1" style="font-size: 8px;margin-top: 1%">
            北京代办资质分公司手机：18911349386 地址：北京市朝阳区新区世纪大道东方大厦
        </div>
        <div class="color-gray1" style="font-size: 8px;margin-top: 1%">
            工业和信息化部备案号：正在积极备案中...
        </div>
        <div class="color-gray1" style="font-size: 8px;margin-top: 1%">
            网站关键词：一级建造师挂靠,一级建造师挂靠价格,一级建造师挂靠费用,建造师挂靠,招聘建造师挂靠,二级建造师挂靠,二级建造师挂靠价格,建造师挂靠风险
        </div>
    </div>
</div>
