<div class="col-xs-12" style="background-color: #494443;margin-top: 10%;padding-bottom: 5%">
    <!--导航栏-->
    <div class="text-center" style="margin: 2%">
        <span class="color-gray1">关于我们</span>
        <span class="color-gray1"
              style="border-right: 1px solid white; width:2px;height: 30px;margin-left: 1%"></span>
        <span class="color-gray1" style="padding-left: 1%">代办资质服务</span>
        <span class="color-gray1"
              style="border-right: 1px solid white; width:2px;height: 30px;margin-left: 1%"></span>
        <span class="color-gray1" style="padding-left: 1%">猎头服务</span>
        <span class="color-gray1"
              style="border-right: 1px solid white; width:2px;height: 30px;margin-left: 1%"></span>
        <span class="color-gray1" style="padding-left: 1%">证书培训</span>
        <span class="color-gray1"
              style="border-right: 1px solid white; width:2px;height: 30px;margin-left: 1%"></span>
        <span class="color-gray1" style="padding-left: 1%">联系我们</span>
    </div>
    <!--展示信息-->
        <div class="col-xs-4 text-right" >
            <img src="assets/img/er.png"  style="width: 24%">
        </div>
        <div class="col-xs-8">
            <div class="color-gray1" style="font-size: 8px;">
                北京代办资质总公司座机：010-57196063手机：13552029641地址：北京市朝阳区红军营南路傲城融富中心
            </div>
            <div class="color-gray1" style="font-size: 8px;margin-top: 1%">
                上海代办资质分公司座机：021-60527333手机：15921583493地址：上海市浦东新区世纪大道东方大厦
            </div>
            <div class="color-gray1" style="font-size: 8px;margin-top: 1%">
                山西资质代办分公司座机：0351-7856226手机：18903465553地址：太原市新晋祠路147号尚德峰国际
            </div>
            <div class="color-gray1" style="font-size: 8px;margin-top: 1%">
                陕西资质代办分公司座机：029-87402182手机：18149041059地址：西安市新城区民乐园万达3号楼
            </div>
        </div>
</div>