<div class="col-xs-12" ng-if="!moreList">
    <div class="col-xs-5 margin_top3 card" style="border-radius: 4px;padding: 0;margin-left: 3%">
        <div class="col-xs-12 DT-title">
            <div class="col-xs-9">
                总承包资质标准
            </div>
            <div class="col-xs-3" ng-click="goToMore('总承包')">
                更多>>
            </div>
        </div>
        <div class="col-xs-12 panel-body" style="background-color: #ffffff">
            <ul class="panel-content" ng-repeat="item in ordersZCList">
                <li><a href="" ng-click="goToDetails(item.idStandard)" class="text-black">{{item.title}} <span
                        class="pull-right font_size_12">{{item.time |date:"yyyy-MM-dd"}}</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-5 margin_top3 card" style="border-radius: 4px;padding: 0;margin-left: 3%">
        <div class="col-xs-12 DT-title">
            <div class="col-xs-9">
                专业承包资质标准
            </div>
            <div class="col-xs-3" ng-click="goToMore('总承包')">
                更多>>
            </div>
        </div>
        <div class="col-xs-12 panel-body" style="background-color: #ffffff">
            <ul class="panel-content" ng-repeat="item in ordersZYList">
                <li><a href="" class="text-black">{{item.title}} <span
                        class="pull-right font_size_12">{{item.time |date:"yyyy-MM-dd"}}</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-5 margin_top3 card" style="border-radius: 4px;padding: 0;margin-left: 3%">
        <div class="col-xs-12 DT-title">
            <div class="col-xs-9">
                安全生产许可证
            </div>
            <div class="col-xs-3" ng-click="goToMore('总承包')">
                更多>>
            </div>
        </div>
        <div class="col-xs-12 panel-body" style="background-color: #ffffff">
            <ul class="panel-content" ng-repeat="item in ordersAQList">
                <li><a href="" class="text-black">{{item.title}} <span
                        class="pull-right font_size_12">{{item.time |date:"yyyy-MM-dd"}}</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-5 margin_top3 card" style="border-radius: 4px;padding: 0;margin-left: 3%">
        <div class="col-xs-12 DT-title">
            <div class="col-xs-9">
                设计资质标准
            </div>
            <div class="col-xs-3" ng-click="goToMore('总承包')">
                更多>>
            </div>
        </div>
        <div class="col-xs-12 panel-body" style="background-color: #ffffff">
            <ul class="panel-content" ng-repeat="item in ordersSJList">
                <li><a href="" class="text-black">{{item.title}} <span
                        class="pull-right font_size_12">{{item.time |date:"yyyy-MM-dd"}}</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-5 margin_top3 card" style="border-radius: 4px;padding: 0;margin-left: 3%">
        <div class="col-xs-12 DT-title">
            <div class="col-xs-9">
                其他资质
            </div>
            <div class="col-xs-3" ng-click="goToMore('总承包')">
                更多>>
            </div>
        </div>
        <div class="col-xs-12 panel-body" style="background-color: #ffffff">
            <ul class="panel-content" ng-repeat="item in ordersQTList">
                <li><a href="" class="text-black">{{item.title}} <span
                        class="pull-right font_size_12">{{item.time |date:"yyyy-MM-dd"}}</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>