<div class="col-xs-12" style="padding: 0">
    <div class="col-xs-10 col-lg-offset-1">
        <div class="col-xs-2 card" style="background: white;padding: 0 0 2% 0;">
            <div class="background_blue text-center font_color_black1" style="padding:8px;font-size: 20px">
                行业新闻栏
            </div>
            <div class="margin_top5 text-center qualificationsList_menu_title mouse_gesture"
                 ng-click="goToMore('建设部资质')">
                建设部资质
            </div>
            <div class=" text-center margin_top5  qualificationsList_menu_title mouse_gesture"
                 ng-click="goToMore('北京资质')">
                北京资质
            </div>
            <div class=" text-center margin_top5  qualificationsList_menu_title mouse_gesture"
                 ng-click="goToMore('上海资质')">
                上海资质
            </div>
            <div class=" text-center margin_top5 qualificationsList_menu_title mouse_gesture"
                 ng-click="goToMore('山西资质')">
                山西资质
            </div>
            <div class=" text-center margin_top5  qualificationsList_menu_title mouse_gesture"
                 ng-click="goToMore('陕西资质')">
                陕西资质
            </div>
            <div class=" text-center margin_top5  qualificationsList_menu_title mouse_gesture"
                 ng-click="goToMore('山东资质')">
                山东资质
            </div>
            <div class=" text-center margin_top5 qualificationsList_menu_title mouse_gesture"
                 ng-click="goToMore('河北资质')">
                河北资质
            </div>
        </div>
        <div class="col-xs-10">
            <div ng-if="active=='资质动态'" ng-include="'qualifications/qualificationsDT.html'"></div>
            <div ng-if="active=='单个地区'" ng-include="'qualifications/qualificationSingle.html'"></div>
            <div ng-if="active=='详情'" ng-include="'qualifications/qualificationsXQ.html'"></div>
        </div>
    </div>
</div>