<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.smbms.dao.StandardDao">

	<resultMap id="BaseResultMap" type="cn.smbms.pojo.Standard">
		<id column="idStandard" property="idStandard" jdbcType="VARCHAR" />
		<result column="time" property="time" jdbcType="TIMESTAMP" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="source" property="source" jdbcType="VARCHAR" />
		<result column="browsingNumber" property="browsingNumber"
			jdbcType="INTEGER" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="idFile" property="idFile" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="insert" parameterType="cn.smbms.pojo.Standard">
		insert into standard (idStandard, time, title, type, source, browsingNumber,
		content, idFile)
		values (#{idStandard,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP},
		#{title,jdbcType=VARCHAR},
		#{type,jdbcType=INTEGER}, #{source,jdbcType=VARCHAR}, #{browsingNumber,jdbcType=INTEGER},
		#{content,jdbcType=VARCHAR}, #{idFile,jdbcType=VARCHAR})

	</insert>

	<update id="update" parameterType="cn.smbms.pojo.Standard">
		update standard
		<set>
			<if test="time != null">
				time = #{time,jdbcType=TIMESTAMP},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="source != null">
				source = #{source,jdbcType=VARCHAR},
			</if>
			<if test="browsingNumber != null">
				browsingNumber = #{browsingNumber,jdbcType=INTEGER},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="idFile != null">
				idFile = #{idFile,jdbcType=VARCHAR},
			</if>
		</set>
		where idDynamic = #{idDynamic,jdbcType=VARCHAR}
	</update>

	<delete id="delete" parameterType="string">
		delete from standard
		where idStandard = #{idStandard,jdbcType=VARCHAR}
	</delete>

	<select id="standard" resultMap="BaseResultMap" parameterType="string">
		select * from standard
		where idStandard = #{idStandard,jdbcType=VARCHAR}
	</select>

	<select id="previous" resultMap="BaseResultMap">
		select * from standard where
		idStandard =
		(select idStandard from standard where idStandard &lt;
		#{standard.idStandard} and
		type=#{standard.type} order by idStandard
		DESC
		limit 1)
		and
		type=#{standard.type};
	</select>

	<select id="next" resultMap="BaseResultMap">
		select * from standard where
		idStandard =
		(select idStandard from standard
		where idStandard
		>#{standard.idStandard,jdbcType=VARCHAR} and
		type=#{standard.type,jdbcType=VARCHAR} order by idStandard
		ASC limit 1)
		and
		type=#{standard.type,jdbcType=VARCHAR};
	</select>

	<sql id="pageCondition">

		<if test="null == standard.type or standard.type == 0">
			WHERE 3>(
			SELECT COUNT(*)
			FROM standard
			WHERE type=a.type and idStandard>a.idStandard)
			ORDER BY a.type;
		</if>
		<if test="standard.type > 0">
			WHERE a.type=#{standard.type}
			limit #{pagination.pageIndex},#{pagination.pageSize};
		</if>
	</sql>

	<select id="standards" resultMap="BaseResultMap">
		select * from standard a
		<include refid="pageCondition" />
	</select>

</mapper>